{%extends "layout.html"%}
{%block content%}

<div class="header1" align=center>
    <br>
    <h2>Blogs</h2>
  </div>
  
  <div class="row">
    
    <div class="card my-5 mx-5 py-5 px-5">
      <center>
        <h2>I grew up in the slums of India. Now I’m a scientist</h2>
      <br>
        <img src="../static/images/WL_PropelH.jpg" height="400"  width="400">
      </center><br>
        <p>I scrambled up a ladder to the tin roof of our house, clutching a book about the evolution of animals. I was 10 years old, and 
          I’d just finished cooking dinner for my entire family—a task that was my daily responsibility.
           From my perch, I could look out at the slum......</p><br>
        <p>Written By: Shalini Arora</p>
        <div align="left">
          <a href="https://www.sciencemag.org/careers/2020/07/i-grew-slums-india-now-i-m-scientist" target="_blank" class="button">READ MORE</a>
        </div>

      </div>
       <div class="card my-5 mx-5 py-5 px-5">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
      <div class="card my-5 mx-5 py-5 px-5">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div> 
      <div class="card my-5 mx-5 py-5 px-5">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div> 
    
    
  </div>
  


{%endblock%}