{%extends "layout.html"%}
{%block content%}

<div class="header1" align=center>
    <br>
    <h2>Blogs</h2>
  </div>
  
  <div class="row">
    
    <div class="card my-5 mx-5 py-5 px-5">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
      <div class="card my-5 mx-5 py-5 px-5">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
      <div class="card my-5 mx-5 py-5 px-5">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
    
    
  </div>
  


{%endblock%}